# Configuration file template for  util/simplify-mysqltest.pl
#
# Please
# - copy this file to for example 1.cfg and
# - adjust the settings so that they fit to your usage case and
#   environment
#

{

# base_dir
#---------
# Directory where your MySQL release is installed.

    basedir => '/work2/5.1/mysql-5.1-rep+3',

# input_file
#-----------
# File which should be used as the base for the simplification process.
# This could be a
# - script (extension .test) for processing via mysq-ltest-run.pl
# - statement log (extension .CSV)
#   Example: <basedir>/var/master-data/mysql/general_log.CSV
#

    input_file => '/work2/5.1/mysql-5.1-rep+3/mysql-test/t/ml_1.test',

# expected_mtr_output
#--------------------
# Pattern which needs to occur within the MTR output after a successful
# simplification. The search pattern is usually derived from a backtrace.
#
# Some hints:
# "."   matches any character including newline (the search command uses the "s" modifier)
# "{<min>,<max>}"   Minimum match count <min> , Maximum match count <max>
# So the example pattern causes basically a search for
# "safe_cond_timedwait" with a distance of less than 151 characters to a following
# "thr_mutex.c" with a distance of less than 51 characters to a following ...

    expected_mtr_output => 'safe_cond_timedwait.{0,150}thr_mutex\.c.{0,50}Item_func_sleep::val_int.{0,3000}SELECT 1,SLEEP\(10\)',

# Please be careful when using addresses or source file line numbers in search patterns.
# - They increase the selectivity of the search.
# - A minor change of the server startup options, source files etc. could cause that the search fails.

# mtr_options
#------------
# mysql-test-run.pl (MTR) options which should be used.

    mtr_options => {
        'skip-ndbcluster'  => undef,
        'record' => undef,
        'mem' => undef,
        'no-check-testcases' => undef,
    },

# mysqld options
#---------------
# MySQL server startup options.

    mysqld => {
        'binlog-format' => 'mixed',
        'table-lock-wait-timeout' => 1
    },


# replication
#------------
# Set this to 1 to turn on
# "--source include/master-slave.inc"  and
# "--sync_slave_with_master"

    replication => 0

}
